body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif, Arial, Helvetica;
}

.header,
.footer,
.section.one {
    background-color: #1F2937;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
}

.header {
    display: flex;
    padding: 12px;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.section {
    display: flex;
    padding: 12px;
}

.section.one {
    display: flex;
    justify-content: space-around;
    padding: 20px 130px 60px;
}

.section.one .subsection {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.header1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 24px;
}

li,
.text {
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 8px;
}

.section.two {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 45px 12px 110px;
}

.illustrations-info {
    display: flex;
    /* justify-content: center; */
    gap: 48px;
}

.illustrations-info .subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 150px;
    /* flex-grow: 0; */
}

.header2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.subtext {
    color: #6d6d6e;
    text-align: center;
}
.illustrations-info .subsection img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border: solid #3882F6;
    border-radius: 12px;
}

.section.three {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    padding: 100px 12px;
    /* padding: 100px 300px; */
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    max-width: 800px;
    align-self: center;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.footer {
    
    color: #E5E7EB;
    font-size: 12px;
}